Actividad 7 UD4 - LMGSI/Editorial.dtd

<!ELEMENT informe (titulo, descripcion, fecha, ventas)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT ventas (region+)>
<!ELEMENT region (trimestre1, trimestre2, trimestre3, trimestre4)>
<!ATTLIST region nombre CDATA #REQUIRED>
<!ELEMENT trimestre1 (libros)>
<!ELEMENT trimestre2 (libros)>
<!ELEMENT trimestre3 (libros)>
<!ELEMENT trimestre4 (libros)>
<!ELEMENT libros (#PCDATA)>