Actividad 6 UD4 - LMGSI/Modulos.dtd

<!ELEMENT cfgs (modulo)+>
<!ELEMENT modulo (nombre_modulo,Unidad_didactica+)>
<!ELEMENT nombre_modulo (#PCDATA)>
<!ELEMENT Unidad_didactica (numero_unidad,contenidos)>
<!ELEMENT numero_unidad (#PCDATA)>
<!ELEMENT contenidos (tipo,descripcion)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>