Actividad 2 UD4 - LMSGI/Concesionario.dtd

<!ELEMENT Concesionario (coche*)>
<!ELEMENT coche (nombreCoche, marca, modelo, matricula, potencia, plazas, puertas)>
<!ELEMENT nombreCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>